.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  padding: 2rem;
  aside,
  main {
    border: 0.1rem solid darkgrey;
    height: 50rem;
    padding: 1rem;
  }

  aside {
    padding: 1rem;
  }
}
